/* Estilização do fundo da página */
body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
}

.container {
  border-radius: 20px;
  border: none;
  border: 1px solid black;
 border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  font: italic small-caps bold 12px/30px Georgia, serif;
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

#textareaFrom {
 width: 89%;
 height: 0px;
 visibility: hidden;
 diplay: none;
}

#textareaTo {
 color: black;
 background-color: white;
 border: 2px solid white;
 border-radius: 5px;
 box-shadow: 0 0 4px #666;
 width: 100%;
 height: 39%;
 padding: 15px;
}

.selectFrom {
  margin-left: -88px;
  visibility: hidden;
  diplay: none;
}

select {
  background-color: white;
  color: black;
  box-shadow: 0 0 4px #666;
  border: 2px solid white;
  outline: none;
  border-radius: 5px;
}

select:hover {
  background-color: #ADE1F5;
  border: 2px solid #ADE1F5;
  color: black;
}

#btnLoadFile {
  margin-left: none;
  background-color: white;
  color: black;
  box-shadow: 0 0 4px #666;
  border: 2px solid white;
  border-radius: 5px;
}

#btnLoadFile:hover {
  background-color: #ADE1F5;
  border: 2px solid #ADE1F5;
  color: black;
}

#btnTranslate {
  width: 100%;
  background-color: #1899DC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  box-shadow: 0 0 4px #666;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btnDownload {
  width: 100%;
  background-color: #1899DC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  box-shadow: 0 0 4px #666;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  border: 1px solid black;
  border-radius: 5px;
}

#additionalTagsInput {
 width: 100%;
 height: 5%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 2px solid white;
 border-radius: 5px;
 box-shadow: 0 0 4px #666;
 box-sizing: border-box;
 outline: none;
}

RemoverTags {
 margin-top: 7;
  }
}
