/* Estilização do fundo da página */
body {
  font-size: 15px;
  background-size: cover;
  background-image: url(fundo);
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
}

.container {
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.2);
  color: black;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0px 0px 5px #666;
}

h1 {
  font-family: serif;
  font-size: 24px;
  color: #DDDEE1;
  font-weight: bold;
  margin-bottom: 20px;
}

#textareaFrom {
 background-color: black;
 width: 89%;
 height: 0px;
 visibility: hidden;
 diplay: none;
}

#textareaTo {
 font-family: 'Courier New', Courier, monospace;
 background-color: black;
 border: 2px solid black;
 border-radius: 5px;
 box-shadow: 0 0 4px #666;
 width: 89%;
 height: 250px;
 font-size: 12px;
 padding: 15px;
 color: white;
}

.selectFrom {
  margin-left: -88px;
  visibility: hidden;
  diplay: none;
}

select {
  background-color: black;
  box-shadow: 0 0 4px #666;
  border: 2px solid black;
  color: white;
  outline: none;
  border-radius: 5px;
}

select:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}

#btnLoadFile {
  background-color: black;
  border: 2px solid black;
  box-shadow: 0 0 4px #666;
  color: white;
  margin-left: none;
  border-radius: 5px;
}

#btnTranslate {
  background-color: black;
  border: 2px solid black;
  box-shadow: 0 0 4px #666;
  color: white;
  border-radius: 5px;
}

#btnDownload {
 background-color: black;
  border: 2px solid black;
  box-shadow: 0 0 4px #666;
  border-radius: 5px;
  color: white;
}

#additionalTagsInput {
  background-color: black;
  border: none;
  box-shadow: 0 0 4px #666;
  border-radius: 5px;
  padding: 5px;
  font-size: none;
  font-family: Arial, sans-serif;
  color: white;
  outline: none;
}

#additionalTagsInput::placeholder {
 color: white;
}

label {
 color: red;
}

RemoverTags {
 margin-top: 7;
   }
}
